version: "2.4"

services:
  nginx:
    image: nginx:1.21.6
    restart: always
    depends_on:
      - metabase
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./nginx/logs:/var/log/nginx
      - ./nginx:/etc/nginx/conf.d
    ports:
      - 80:80
      - 443:443
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot:v1.26.0
    restart: unless-stopped
    depends_on:
      - nginx
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  postgres:
    image: postgres:14.2
    restart: always
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=metabase
      - PGDATA="/var/lib/postgresql/data/pgdata"

  metabase:
    restart: always
    image: metabase/metabase:v0.42.4
    depends_on:
      - postgres
    ports:
      - 3001:3000
    environment:
      - MB_REDIRECT_ALL_REQUESTS_TO_HTTPS=false
      - MB_SITE_URL=null
      - MB_DB_DBNAME=metabase
      - MB_DB_HOST=postgres
      - MB_DB_PASS=${POSTGRES_PASSWORD}
      - MB_DB_PORT=5432
      - MB_DB_TYPE=postgres
      - MB_DB_USER=${POSTGRES_USER}

  uptime-monitor:
    image: uptime-monitor
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - nginx
    volumes:
      - ./config.json:/discord-uptime/config.json
      - ./servers.json:/discord-uptime/servers.json
